<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Hey there! I'm TEJ!!</h1>
      <h4 class="subheader">Doing computer Science!! Lots of CODINGGGGGGG......</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/selfie.jpeg" />
      <p>Hey! I'm Tej.My ambition is to become an entrepreneur.For now,I'm studying computer science at UCD. And guess what,coding is FUN!! Never expected it to be so in the beginning.</p>
      <p>And today,I'm making my first website app at HubSpot.</p>
    </div>
  </main>
</body>
</html>
